/* .avatar {
  margin: 1vw;
  background-color: rgb(85, 85, 85);
  margin-top: 7vw;
  margin-left: 49vw;
}
.div {
  color: black;
  font-size: 10vw;
}
.display {
  display: flex;
}

.text2 {
  margin-left: 38vw;
  margin-top: 2vw;
  width: 23vw !important;
}
.text1 {
  margin-left: 38vw;
  margin-top: 2vw;
  width: 23vw !important;
}
.button1 {
  margin-left: 38vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
  width: 23vw !important;
  background-color: rgb(85, 85, 85) !important;
}
.submit {
}
.link {
  margin-left: 43vw;
}
.emailicon {
  margin-top: 2.35vw;
  margin-left: 1vw;
}
.erroremailerror {
  margin-top: 2.2vw;
  color: crimson;
}

.emailwithout {
  margin-top: 2vw;
  color: white;
}

.passworderrors {
  margin-top: 2.2vw;
  color: crimson;
}
.passwordicon {
  margin-top: 2.35vw;
  margin-left: 1vw;
}
.passwordwithout {
  margin-top: 2vw;
  color: white;
} */
